%section.forrester-wave-section
  .container
    .row.flex-row
      .col-md-5.forrester-wave-body
        %h2.main-heading GitLab named a Leader in the Forrester Wave™
        %p.promo-text Receiving the highest score in Forrester’s Current Offering evaluation, GitLab was named as a Leader in Continuous Integration in The Forrester Wave™: Continuous Integration Tools, Q3 2017 report. According to the report, “GitLab delivers ease of use, scalability, integration, and innovation.”
        .btn-group
          %a.btn.cta-btn.ghost{href: "/2017/09/27/gitlab-leader-continuous-integration-forrester-wave/"}
            Read the Report

      .col-md-7.col-md-offset-1.forrester-wave-media
        = image_tag "/images/home/forrester-report-diagram.png", alt: "GitLab is in the Leader’s arc" 
