.wrapper.landing-container.text-center
  .page-illustrated-header-container
    = partial "includes/icons/org-logos-header-pattern.svg"
    .container
      .row
        .col-xs-12
          %h1.page-headline
            Trusted by software innovators
          %h3.subheader
            Used by over 100,000 organizations, development teams everywhere are building and shipping great software with GitLab's end-to-end development platform, complete with built-in tools for git repository management, social coding, continuous integration, and more.
          - if !form_landing
            %a.btn.cta-btn.red{ href: "/free-trial/" }
              Try GitLab
          - else
            .input-with-addon
              %input.form-control.input-with-addon-field{ placeholder: "Your email", name: "customer-email" }
              %button.btn.cta-btn.cta-btn-addon.red.radius-right-side
                Try GitLab
