:markdown
  A [Security Specialist](/roles/engineering/developer) is a
  [Developer](/roles/engineering/developer/) who focuses on ensuring
  that GitLab and associated applications are as secure as possible.
  The Security Specialist works in close collaboration with the
  [Security Lead](/roles/engineering/security-management/).
