.navbar.blog-category-navbar{role: "navigation"}
  %button.navbar-toggle{type: "button", data: {target: "#blog-category-nav", toggle: "collapse"}}
    %span
      All Topics
    <i class="fa fa-chevron-down"></i>
  .collapse.navbar-collapse#blog-category-nav
    %ul.nav.navbar-nav.animated
      %li{class: ("active" if current_page.url == "/blog/")}
        %a{href: "/blog"}
          All
      %li{class: ("active" if current_page.url == "/blog/categories/releases/")}
        %a{href: "/blog/categories/releases"}
          releases
      %li{class: ("active" if current_page.url == "/blog/categories/engineering/")}
        %a{href: "/blog/categories/engineering"}
          engineering
      %li{class: ("active" if current_page.url == "/blog/categories/open-source/")}
        %a{href: "/blog/categories/open-source"}
          open source
      %li{class: ("active" if current_page.url == "/blog/categories/culture/")}
        %a{href: "/blog/categories/culture"}
          culture
      %li{class: ("active" if current_page.url == "/blog/categories/insights/")}
        %a{href: "/blog/categories/insights"}
          insights
      %li{class: ("active" if current_page.url == "/blog/categories/gitlab-news/")}
        %a{href: "/blog/categories/gitlab-news"}
          GitLab news
